/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #fff9db; /* Light warm yellow background */
    height: 100vh; /* Make sure it covers the full viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Top Row Container */
.top-row{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 20px 20px;
    transform: translateY(-100px);
    animation: slide-down 3s ease-in-out forwards
}
@keyframes slide-down{
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* Navigation Bar */
.nav-bar ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-bar li {
    margin: 0 25px;
}
.nav-bar a{
    text-decoration: none;
    color: #ffd573;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.nav-bar a:hover {
    color: #333333
}
/* Logo Container */
.logo-container {
    text-align: center;
    justify-content: center;
}
/* Logo Styling */
.logo {
    width: 1000px; /* Adjust the size as needed */
    height: auto; /* Keep the aspect ratio */
    opacity: 0;
    transform: translateY(200px) scale(0.5);
    animation: FadeInSlideDown 3s ease-in-out forwards;
}
@keyframes FadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(200px) scale(0.5); /* Start offscreen and small */
    }
    50% {
        transform: translateY(-50px) scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translate(0px); scale:(1);
    }
}